body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 30.9178743961%;
  left: 25.2918287938%;
  font-size: 28px;
  filter: blur(0.02px);
  animation: 25s float infinite;
}
.particle:nth-child(2) {
  top: 22.4116930572%;
  left: 70.5190989226%;
  font-size: 21px;
  filter: blur(0.04px);
  animation: 38s float infinite;
}
.particle:nth-child(3) {
  top: 0.9720534629%;
  left: 31.2805474096%;
  font-size: 23px;
  filter: blur(0.06px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(4) {
  top: 65.8595641646%;
  left: 81.8713450292%;
  font-size: 26px;
  filter: blur(0.08px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(5) {
  top: 5.8465286236%;
  left: 37.2184133203%;
  font-size: 21px;
  filter: blur(0.1px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(6) {
  top: 29.1616038882%;
  left: 52.7859237537%;
  font-size: 23px;
  filter: blur(0.12px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(7) {
  top: 83.4951456311%;
  left: 30.2734375%;
  font-size: 24px;
  filter: blur(0.14px);
  animation: 39s float infinite;
}
.particle:nth-child(8) {
  top: 71.7575757576%;
  left: 80.9756097561%;
  font-size: 25px;
  filter: blur(0.16px);
  animation: 23s float infinite;
}
.particle:nth-child(9) {
  top: 87.4692874693%;
  left: 74.9506903353%;
  font-size: 14px;
  filter: blur(0.18px);
  animation: 35s float infinite;
}
.particle:nth-child(10) {
  top: 24.3013365735%;
  left: 87.9765395894%;
  font-size: 23px;
  filter: blur(0.2px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(11) {
  top: 21.2817412334%;
  left: 58.4225900682%;
  font-size: 27px;
  filter: blur(0.22px);
  animation: 38s float infinite;
}
.particle:nth-child(12) {
  top: 29.2682926829%;
  left: 62.7450980392%;
  font-size: 20px;
  filter: blur(0.24px);
  animation: 27s float infinite;
}
.particle:nth-child(13) {
  top: 6.8376068376%;
  left: 46.1236506379%;
  font-size: 19px;
  filter: blur(0.26px);
  animation: 37s float2 infinite;
}
.particle:nth-child(14) {
  top: 0.9840098401%;
  left: 36.5251727542%;
  font-size: 13px;
  filter: blur(0.28px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(15) {
  top: 15.7248157248%;
  left: 41.4201183432%;
  font-size: 14px;
  filter: blur(0.3px);
  animation: 28s float2 infinite;
}
.particle:nth-child(16) {
  top: 72.3763570567%;
  left: 81.6326530612%;
  font-size: 29px;
  filter: blur(0.32px);
  animation: 28s float infinite;
}
.particle:nth-child(17) {
  top: 47.0588235294%;
  left: 72.8346456693%;
  font-size: 16px;
  filter: blur(0.34px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(18) {
  top: 69.9507389163%;
  left: 22.7272727273%;
  font-size: 12px;
  filter: blur(0.36px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(19) {
  top: 52.4908869988%;
  left: 86.9990224829%;
  font-size: 23px;
  filter: blur(0.38px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(20) {
  top: 7.8239608802%;
  left: 89.3909626719%;
  font-size: 18px;
  filter: blur(0.4px);
  animation: 33s float infinite;
}
.particle:nth-child(21) {
  top: 78.914919852%;
  left: 54.4015825915%;
  font-size: 11px;
  filter: blur(0.42px);
  animation: 34s float infinite;
}
.particle:nth-child(22) {
  top: 37.0280146163%;
  left: 28.4035259549%;
  font-size: 21px;
  filter: blur(0.44px);
  animation: 21s float2 infinite;
}
.particle:nth-child(23) {
  top: 75.9556103576%;
  left: 57.3689416419%;
  font-size: 11px;
  filter: blur(0.46px);
  animation: 25s float2 infinite;
}
.particle:nth-child(24) {
  top: 26.2454434994%;
  left: 13.6852394917%;
  font-size: 23px;
  filter: blur(0.48px);
  animation: 28s float2 infinite;
}
.particle:nth-child(25) {
  top: 23.3009708738%;
  left: 13.671875%;
  font-size: 24px;
  filter: blur(0.5px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(26) {
  top: 11.8081180812%;
  left: 73.0503455084%;
  font-size: 13px;
  filter: blur(0.52px);
  animation: 25s float2 infinite;
}
.particle:nth-child(27) {
  top: 15.5151515152%;
  left: 26.3414634146%;
  font-size: 25px;
  filter: blur(0.54px);
  animation: 39s float infinite;
}
.particle:nth-child(28) {
  top: 63.768115942%;
  left: 71.9844357977%;
  font-size: 28px;
  filter: blur(0.56px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(29) {
  top: 28.3618581907%;
  left: 60.9037328094%;
  font-size: 18px;
  filter: blur(0.58px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(30) {
  top: 13.6087484812%;
  left: 34.2130987292%;
  font-size: 23px;
  filter: blur(0.6px);
  animation: 40s float infinite;
}
.particle:nth-child(31) {
  top: 8.8235294118%;
  left: 8.8582677165%;
  font-size: 16px;
  filter: blur(0.62px);
  animation: 24s float infinite;
}
.particle:nth-child(32) {
  top: 82.7250608273%;
  left: 97.8473581213%;
  font-size: 22px;
  filter: blur(0.64px);
  animation: 27s float infinite;
}
.particle:nth-child(33) {
  top: 50.9179926561%;
  left: 28.5152409046%;
  font-size: 17px;
  filter: blur(0.66px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(34) {
  top: 95.0303030303%;
  left: 26.3414634146%;
  font-size: 25px;
  filter: blur(0.68px);
  animation: 22s float infinite;
}
.particle:nth-child(35) {
  top: 44.4981862152%;
  left: 80.817916261%;
  font-size: 27px;
  filter: blur(0.7px);
  animation: 37s float infinite;
}
.particle:nth-child(36) {
  top: 57.0737605804%;
  left: 24.3427458617%;
  font-size: 27px;
  filter: blur(0.72px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(37) {
  top: 0.9756097561%;
  left: 93.137254902%;
  font-size: 20px;
  filter: blur(0.74px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(38) {
  top: 63.8036809816%;
  left: 68.9655172414%;
  font-size: 15px;
  filter: blur(0.76px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(39) {
  top: 67.6470588235%;
  left: 41.3385826772%;
  font-size: 16px;
  filter: blur(0.78px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(40) {
  top: 59.6577017115%;
  left: 34.3811394892%;
  font-size: 18px;
  filter: blur(0.8px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(41) {
  top: 44.8233861145%;
  left: 44.0744368266%;
  font-size: 21px;
  filter: blur(0.82px);
  animation: 34s float2 infinite;
}
.particle:nth-child(42) {
  top: 82.7586206897%;
  left: 63.2411067194%;
  font-size: 12px;
  filter: blur(0.84px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(43) {
  top: 5.7831325301%;
  left: 92.2330097087%;
  font-size: 30px;
  filter: blur(0.86px);
  animation: 39s float infinite;
}
.particle:nth-child(44) {
  top: 10.7711138311%;
  left: 48.1809242871%;
  font-size: 17px;
  filter: blur(0.88px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(45) {
  top: 27.417380661%;
  left: 55.063913471%;
  font-size: 17px;
  filter: blur(0.9px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(46) {
  top: 30.5795314427%;
  left: 39.5647873393%;
  font-size: 11px;
  filter: blur(0.92px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(47) {
  top: 70.5314009662%;
  left: 82.6848249027%;
  font-size: 28px;
  filter: blur(0.94px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(48) {
  top: 97.1779141104%;
  left: 28.5714285714%;
  font-size: 15px;
  filter: blur(0.96px);
  animation: 21s floatReverse infinite;
}
.particle:nth-child(49) {
  top: 20.487804878%;
  left: 91.1764705882%;
  font-size: 20px;
  filter: blur(0.98px);
  animation: 27s float2 infinite;
}
.particle:nth-child(50) {
  top: 25.5214723926%;
  left: 98.5221674877%;
  font-size: 15px;
  filter: blur(1px);
  animation: 21s float2 infinite;
}
.particle:nth-child(51) {
  top: 19.5838433293%;
  left: 46.2143559489%;
  font-size: 17px;
  filter: blur(1.02px);
  animation: 27s floatReverse2 infinite;
}
.particle:nth-child(52) {
  top: 70.5882352941%;
  left: 43.3070866142%;
  font-size: 16px;
  filter: blur(1.04px);
  animation: 39s floatReverse2 infinite;
}
.particle:nth-child(53) {
  top: 32.552404439%;
  left: 35.6083086053%;
  font-size: 11px;
  filter: blur(1.06px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(54) {
  top: 77.2014475271%;
  left: 34.0136054422%;
  font-size: 29px;
  filter: blur(1.08px);
  animation: 39s float2 infinite;
}
.particle:nth-child(55) {
  top: 25.2427184466%;
  left: 72.265625%;
  font-size: 24px;
  filter: blur(1.1px);
  animation: 22s float2 infinite;
}
.particle:nth-child(56) {
  top: 4.884004884%;
  left: 90.284592738%;
  font-size: 19px;
  filter: blur(1.12px);
  animation: 29s float infinite;
}
.particle:nth-child(57) {
  top: 59.2233009709%;
  left: 96.6796875%;
  font-size: 24px;
  filter: blur(1.14px);
  animation: 25s float infinite;
}
.particle:nth-child(58) {
  top: 73.696969697%;
  left: 12.6829268293%;
  font-size: 25px;
  filter: blur(1.16px);
  animation: 31s float2 infinite;
}
.particle:nth-child(59) {
  top: 31.067961165%;
  left: 97.65625%;
  font-size: 24px;
  filter: blur(1.18px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(60) {
  top: 48.4848484848%;
  left: 26.3414634146%;
  font-size: 25px;
  filter: blur(1.2px);
  animation: 24s float infinite;
}
.particle:nth-child(61) {
  top: 14.4752714113%;
  left: 70.9426627794%;
  font-size: 29px;
  filter: blur(1.22px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(62) {
  top: 84.4171779141%;
  left: 21.6748768473%;
  font-size: 15px;
  filter: blur(1.24px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(63) {
  top: 72.1071863581%;
  left: 94.0254652302%;
  font-size: 21px;
  filter: blur(1.26px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(64) {
  top: 31.4110429448%;
  left: 66.9950738916%;
  font-size: 15px;
  filter: blur(1.28px);
  animation: 34s float2 infinite;
}
.particle:nth-child(65) {
  top: 67.0716889429%;
  left: 29.3255131965%;
  font-size: 23px;
  filter: blur(1.3px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(66) {
  top: 57.0048309179%;
  left: 96.3035019455%;
  font-size: 28px;
  filter: blur(1.32px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(67) {
  top: 10.8374384236%;
  left: 77.0750988142%;
  font-size: 12px;
  filter: blur(1.34px);
  animation: 40s float infinite;
}
.particle:nth-child(68) {
  top: 72.009864365%;
  left: 43.5212660732%;
  font-size: 11px;
  filter: blur(1.36px);
  animation: 27s float infinite;
}
.particle:nth-child(69) {
  top: 67.8966789668%;
  left: 86.8706811451%;
  font-size: 13px;
  filter: blur(1.38px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(70) {
  top: 10.7711138311%;
  left: 58.9970501475%;
  font-size: 17px;
  filter: blur(1.4px);
  animation: 24s float infinite;
}
.particle:nth-child(71) {
  top: 46.0784313725%;
  left: 91.5354330709%;
  font-size: 16px;
  filter: blur(1.42px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(72) {
  top: 73.786407767%;
  left: 61.5234375%;
  font-size: 24px;
  filter: blur(1.44px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(73) {
  top: 45.4655380895%;
  left: 35.0535540409%;
  font-size: 27px;
  filter: blur(1.46px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(74) {
  top: 55.5420219245%;
  left: 28.4035259549%;
  font-size: 21px;
  filter: blur(1.48px);
  animation: 22s floatReverse infinite;
}
.particle:nth-child(75) {
  top: 63.8452237001%;
  left: 79.8442064265%;
  font-size: 27px;
  filter: blur(1.5px);
  animation: 39s floatReverse2 infinite;
}
.particle:nth-child(76) {
  top: 2.8985507246%;
  left: 72.9571984436%;
  font-size: 28px;
  filter: blur(1.52px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(77) {
  top: 29.4117647059%;
  left: 39.3700787402%;
  font-size: 16px;
  filter: blur(1.54px);
  animation: 31s floatReverse infinite;
}
.particle:nth-child(78) {
  top: 16.52490887%;
  left: 40.0782013685%;
  font-size: 23px;
  filter: blur(1.56px);
  animation: 21s floatReverse infinite;
}
.particle:nth-child(79) {
  top: 56.0885608856%;
  left: 89.8321816387%;
  font-size: 13px;
  filter: blur(1.58px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(80) {
  top: 7.7481840194%;
  left: 3.8986354776%;
  font-size: 26px;
  filter: blur(1.6px);
  animation: 32s floatReverse2 infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}